body {margin:3em;} 



button { border:1px solid #aaa; margin:0.2em; border-radius:0.3em; padding:1em; } 

.light { width:4em; height:4em; border-radius:2em; border:0.2em solid grey; margin:1em; } 

.counter{
   font-size: 3em;
   background-color: #aaa;
   width:4.3em;
   color:white;
   border-radius:0.2em;
  padding-top:0.3em;
  text-align: right;
  border:0.1em solid red;
}
